.main {
  display: flex;
  width: 100%;
}

.left-section {
  display: flex;
  width: 70%;
  /* Adjust width as needed */
}

.right-section {
  display: flex;
  align-items: flex-end;
  width: 20%;
  /* Adjust width as needed */
}

.search input{
  margin: 0px 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 11px;
}

.dropdown mat-select{
  margin: 0px 10px;
  border: 1px solid lightgrey;
  width: 130px;
  padding: 10px;
  border-radius: 10px;
}

.btn-class {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}