<div class="main">
  <div class="left-section">
    <!--Search bar-->
    <div class="search">
      <input type="text" matInput placeholder="Search Available Rules" [formControl]="searchControl"
        [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onRuleSelectionChange($event.option.value)">
        <mat-option *ngFor="let rule of filteredRules | async" [value]="rule">
          {{ rule }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="dropdown">
      <!--Queue Dropdown-->

      <mat-select placeholder="Queues" [(ngModel)]="selectedQueue" (selectionChange)="onRuleTypeSelectionChange()">
        <mat-option *ngFor="let queue of queue_list" [value]="queue">{{ queue }}</mat-option>
      </mat-select>
    </div>
    <!--RuleType Dropdown-->
    <div class="dropdown">
      <mat-select placeholder="Rule Type" [(ngModel)]="selectedRuleType"
        (selectionChange)="onRuleTypeSelectionChange()">
        <mat-option *ngFor="let rule_type of rule_types" [value]="rule_type">{{ rule_type }}</mat-option>
      </mat-select>
    </div>
    <!--SavedRules Dropdown-->
    <div class="dropdown">
      <mat-select placeholder="Saved Rules" (selectionChange)="onRuleSelectionChange($event.value)">
        <mat-option *ngFor="let option of saved_rules" [value]="option">{{ option }}</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="right-section">
    <button type="button" class="btn btn-primary btn-class" (click)="createRuleDiv()" id="rule">Create Rule</button>
  </div>

</div>